@media (min-width: 768px ) {
    .col-6 {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 992px ) {
    .col-4 {
        display: grid;
        grid-template-columns: repeat(3, 1fr)
        /* grid: two values of row / two values of columns ; */
    }
}